---
layout: handbook-page-toc
title: Product Launch Process
description: How to launch a product or service at GitLab.
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

<%= partial("/handbook/product/product-handbook-links") %>

## Context: 

Launching features into our current product set is a well understood [process](/handbook/product/tiering-guidance-for-features/). To launch new product offerings, service offerings or SKUs requires a set of steps that need to be sequenced in a way to ensure product launch is done efficiently and effectively.

## Summary of the steps.

1. Business Sponsor and a program manager should be assigned to launch the product/service or SKU.
1. The product or service needs to be clearly defined
1. Pricing research / pricing and packaging plan should be created
1. An operations / business plan / financial projection should be developed for the product / service
1. Approvals should be obtained to move forward with the launch
1. Product Launch checklist should be created with clear DRIs assigned
1. Execution against Product Launch checklist should happen

## Step 1) Business Sponsor /  program manager should be assigned to launch the product/service or SKU.

A Business Sponsor should request a new product, service, or SKU. The business sponsor can be the DRI to drive the SKU launch if it is smaller in scope. If the scope is larger, a program manager will be assigned to execute, and launch the product, service or SKU. A program manager can be assigned from the Product division, or if necessary from the Chief of Staff team. SKU additions or modifications for professional services can be program managed by the Professional services team.

To initiate the work (and proceed to steps 2 to 7) provide a three sentence proposal to the Pricing Steering Committee to kick off steps 2 to 4. The committee meets monthly and will review and provide any necessary feedback, and ensure the team is aligned on supporting the follow up work. 

## Step 2) The product or service needs to be clearly defined

A services brief should be drafted. This should include:
1. Details of the service offering (e.g. 24x7 support, emergency support SLAs, PS SOW description, etc)
1. Description of the market and ideal customer
1. What the customer gets in terms of entitlement
1. What is required of GitLab to deliver the service
1. Hypotheses of how the product will be priced (e.g. Hourly, fixed fee, subscription)

A product brief:
1. Description of the product.
1. Description of the market and ideal customer
1. What features are available today that will be part of the product.
1. What features will be part of the offering
1. If the product will be included as part of our primary tiers or as an add-on
1. Hypotheses of how the product will be priced (e.g. new tier, add-on, consumption)

## Step 3) Pricing research / pricing and packaging plan should be created
- Pricing will review the product or services brief and follow up within a week for any clarifying questions and suggest the right level of research needed to arrive at a recommendation. 
- Pricing team will conduct required research following our process, and [pricing principles](https://internal.gitlab.com/handbook/product/pricing/principles-and-strategy/). Depending on the complexity of the offer, and potential market size this research could take a couple of weeks, up to a few months to complete.
- Pricing team will make a recommendation of what business model the product/service should have (e.g. fixed fee, subscription, consumptive, add-on, new tier), and a recommended price point or range to consider for the offering

## Step 4) A Operations/ business plan / financial projection should be developed for the product / service

For a new product or service we should build an operational business plan. This includes
- Product plan
- Marketing message and vision
- Ideal customer profile
- GTM Plan
- Partner Plan
- If necessary a infrastructure cost/operating model for the offering 

For a new services offering we should also include a:
- Staffing Plan
- Operational Model
- Systems changes required to support the new service

Build a financial model
- Topline sales projections
- Gross Margin projections including hosting/infrastructure costs, support costs, professional services costs, etc
- Possibly model contribution including other costs such as Sales and Marketing or R&D.
- Any financial asks needed to support the product (e.g. support staffing)

## Step 5) Approvals should be obtained to move forward with the launch

With the product/services proposal, pricing research, operational plan and business plan in place, the leadership can make a decision to move forward. This approval with the correct structure will accelerate the next phase which is planning and execution.
Approvals will follow this matrix.

Once the approval is made the following teams need to be notified that a workstream is kicked off: 
- Product offering: Product owners and engineers
- Services offering: Professional services or support team
- All offerings: Product Marketing, Legal, Product Fulfillment, IT, Data, FP&A, Billing, Revenue accounting, Tax


## Step 6) Product Launch checklist should be created with clear DRIs assigned

- Example Template is [here](https://docs.google.com/spreadsheets/d/10W5viWE2yGSZcVWHHmakMjo881TcwxF69rzqyWHj7r0/edit#gid=0).
- The program manager should fill out the product launch checklist and ensure there are owners for the generic items but also adds custom items. 

The following areas may need to be considered in the planning:
1. Marketing Plan including positioning, press, customer references, etc
1. Product Plan including Beta programs, code complete, launch criteria, data logging, etc
1. Sales readiness including GTM plan and enablement of field and channel
1. Pricing and Packaging
1. Legal readiness including terms of service, data retention, privacy or product counsel issues
1. Customer Support / Success readiness
1. Product fulfillment including licensing, upgrade, downgrade, trial
1. Billing including preparation to sell on all sales channels (sales assisted, web direct, channel)
1. SKU creation including Zuora Billing, Zuora Revenue, CustomerDot, SFDC, Netsuite readiness
1. Revenue readiness including SSP impact and rev rec rules
1. Tax readiness
1. Data including operational metrics, impact to reporting, data warehouse ready
1. Metrics and comp including impact to NetARR and compensation
1. Finance including financial forecast 
1. Investor Relations including investor messaging


## Step 7) Execution against Product Launch checklist should happen

Execute against the plan created above some resources that are helpful are:
- SKU Creation handbook [page](https://about.gitlab.com/handbook/business-technology/enterprise-applications/guides/product-catalog/)
- Premium Pricing [Execution](https://internal.gitlab.com/handbook/product/pricing/archived-projects/matterhorn/) (Team member access only)
