---
layout: handbook-page-toc
title: "Anti-abuse Stage Engineering Metrics"
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

### Group Pages
* [Anti-abuse Group Dashboards](/handbook/engineering/metrics/data-science/anti-abuse/)

<%= partial "handbook/engineering/metrics/partials/team_dashboard.erb", locals: { filter_type: "group", filter_value: "anti-abuse" } %>

